.ui.segment.VideoDetails {
   
    border: 20px thick rgb(199, 23, 23)
}
.ui.embed.VideoDetails{
    border: 20px thick rgb(199, 23, 23);
    
}
.ui.embed.iframe{
    border: 20px thick rgb(199, 23, 23);

}