.Button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 50px;
    margin: 20px;
    background-color: gray;
    color: aliceblue;
    border: 5px outset #FF4136;
    font-size: 20px;
}
.text {
    margin: 5px 20px;
    padding: 30px;
    color: white;
    font-size: 20px;
}
.list{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 3px outset #FF4136;

}